.btn{
  width: 25%;
  height: 90px;
  text-align: center;
}

.btn-1 {
  background: #cccccc;
}
.btn-2 {
  background: #bbcdee;
}
.btn-3 {
  background: #17b3ff;
}

.result {
  width: 100%;
  height: 80px;
  text-align: right;
	margin : 0px;
  background: #fff;
}

.result td{
  padding: 15px;
}

table {
  width: 100%
}

body {
  background: #000;
  font-size: 2rem;
  user-select: none;
}

.btn-1:hover {
  background: #aeaeae;
}
.btn-2:hover {
  background: #9daac3;
}
.btn-3:hover {
  background: #1995d2;
}
